[2013-10-16 13:02] kanedo opened #2 "Open Spotify when clicking on the notification"
Could you open spotify if one click on the notification? That would be awesome :)

[2013-10-20 07:56] #2 closed, assigned to nobody

[2013-10-20 14:42] kanedo opened #3 "Preferences opens on start"
Every time SpotifyNotifications starts it opens its preferences even if it starts on login

[2013-10-21 06:47] #3 closed, assigned to nobody

[2013-10-21 07:14] gostaj opened #4 "Keyboard shortcut for showing currently playing song"
(Thanks for a great notification app!)

Sometimes I listen to a good song which I don't know the name of.
I would like a keyboard shortcut for showing a notification, just like when a song starts, that shows the info about of the current song (just like the standard notification).
The keyboard shortcut doesn't change anything else, it just shows the notification.

And the keyboard shortcut should

[2013-10-22 20:54] #4 closed, assigned to nobody

[2013-10-30 14:18] rafpato opened #5 "Album Art"
It would be so awesome if we could see the album art from the song we're playing on the notification, I don't know if it's possible or not but I think it would be an awesome feature!

[2013-10-30 16:27] #5 closed, assigned to nobody

[2013-11-27 12:41] gostaj opened #8 "New version not working - notifications aren't shown"
Hi, thanks for a great app.
I was a happy user until I upgraded to the latest version.
Now I don't see any notifications anymore. I haven't changed any settings, haven't upgraded my OS X or anything.
The app is running, I see the menu bar icon and can change the preferences but no notifications are shown.

I think this is related to the pull request by @jamessnee

Spotify-Notifications version: 0.

[2013-11-27 15:22] #8 closed, assigned to nobody

[2013-12-20 21:06] hawkeye0203 opened #10 "Album artwork thumbnail is sometimes wrong"
It seems random when it happens, but the album artwork that shows on the notification bubble will sometimes be of the last song or another song from the past.

[2013-12-23 20:32] klapec opened #11 "Notifications are sometimes delayed"
Hi, first of all - thanks for the app, it's great.
I've got a problem with it though - sometimes it takes up to 20 seconds after a song change for a notification to appear. I think it's caused by an artwork being fetched and the fact that it is not necessarily instantaneous everytime. Could there be an option for enabling/disabling artwork display?

Happy holidays.

[2013-12-31 05:04] #11 closed, assigned to nobody

[2013-12-31 19:37] #10 closed, assigned to nobody

[2014-01-17 03:24] darkcrawler01 opened #16 "Enhancement - Add Delete/Hide Notification"
Saves the need to wait until the notification disappears to access the area under notification

[2014-01-17 03:30] #16 closed, assigned to nobody

[2014-03-16 10:16] fill1890 opened #18 "Skip song in OS X 10.9"
In OS X 10.9, Notification Centre has a new feature with interactive notifications. Would it be possible to add a Skip button to the notification?

[2014-03-18 03:37] #18 closed, assigned to nobody

[2014-03-21 15:26] chrowe opened #19 "Notification does not show using keyboard shortcut when app first starts"
Environment
- OS X 10.9.2
- Spotify 0.9.7.16.....
- Spotify Notifications 0.4.8

To reproduce:
- Open Spotify and play a song
- Open Spotify Notifications
- If you don't have a "Show Current Song" keyboard shortcut set then set one, else
- Press you keyboard shortcut (F5 in my case)

What I get:
- Sound plays
- "Spotify Notifications" entry shows up in notifications center sidebar.
  ![menubar-2](

[2014-05-02 16:08] pouriaalmassi opened #21 "Include installation and uninstallation steps in README"
Please include installation and uninstallation steps in README.

[2014-05-20 15:19] #19 closed, assigned to nobody

[2014-06-26 21:51] tgpraveen opened #23 "Add buttons for next song on notification hover."
IMHO this should be a useful, don't show buttons always but on hover on notification, it will be useful.

[2014-08-26 16:52] ellisio opened #24 "[Yosemite] Hide the app icon."
Hello,

When a song changes, even if I have the the "Badge app icon" unchecked in System Preferences, there is a broken icon on the notification:

![screen shot 2014-08-26 at 10 47 53 am](https://cloud.githubusercontent.com/assets/127468/4048192/2132059e-2d41-11e4-9742-5a19abd93fbe.png)

Cheers,
-Andrew

[2014-08-27 16:46] #24 closed, assigned to nobody

[2014-09-24 20:36] #23 closed, assigned to nobody

[2014-09-24 20:38] #21 closed, assigned to nobody

[2014-10-06 19:08] AlexAbraham1 opened #25 "[REQUEST] A setting to disable showing album artwork"
First I would like to thank you for building this extension it is absolutely amazing! It's strange that Spotify doesn't have notification support built in and this is a perfect solution :-)

I am not sure if this is possible but if there could be a way to show the song name and album artwork when the popup notification is shown but not inside the notification center that would be great! The main i

[2014-10-09 19:48] AndreSchwarzer opened #26 "Multiple Displays"
Hi,

I like your application very much, but it'll be nice if you support multiple displays.

I currently run OS X 10.10 14A386b (latest public Beta) and the notification is always shown (even if not active) on the main display (with the Dock below).

╱╱┏╮
╱╱┃┃
▉━╯┗━╮
▉┈┈┈┈┃
▉╮┈┈┈┃
╱╰━━━╯

[2014-10-15 10:10] fill1890 opened #27 "Private area of the NSUserNotification API"
Hi.

Just letting you know that the NSUserNotification has a Private subclass that allows a little more extensibility. It's not documented by Apple, but there's a short description at the end of [this](http://stackoverflow.com/questions/11676017/nsusernotification-not-showing-action-button) question, and the unofficial documentation is in [this](https://github.com/indragiek/NSUserNotificationPriva

[2014-11-02 18:51] RowanKaag opened #29 "Notifications on open app"
It would be nice to hide messages if Spotify is open, and only show alerts if Spotify isn't. Is it possible to add a toggle for that?

[2014-11-08 19:57] BHybes opened #30 "How can I remove sound from the notification"
Every time I change song it plays the alert tone is there a simple way to disable this?

[2014-11-08 20:24] #30 closed, assigned to nobody

[2014-11-13 19:33] zvaehn opened #31 "Notification Spotify-Icon Resolution"
Hey,
first of all: great work - i love it!

But the notification Spotify Icon seems to be in a low resolution and isn't even shown on my retina monitor.

External monitor: http://cl.ly/image/1R18033d1V0l
Internal Retina monitor: http://cl.ly/image/0y051T2F071p

I saw, that you have already included a 512x512 icon in the iconset.
Can you have a look?

Sincerely, sven.

[2014-11-25 04:39] mcmanimie opened #32 "Is there any way to turn off the "ding" when it pops a notification?"
Great little app otherwise.

[2014-11-25 19:04] #32 closed, assigned to nobody

[2014-11-30 02:37] harrngtn opened #33 "Spotify Icon not displaying on Notification"
I'm noticing that the spotify icon is not displayed in the notification popup (example image attached).  From left to right, the notification shows
- Default Piece of Paper Icon
- Artist Information (Title, Album, Artist)
- Cover Art Icon.

So, everything looks correct, except for the left most icon, which shows as a default icon, rather then the spottily icon.
![notification](https://cloud.github

[2014-12-08 15:00] AlecRust opened #34 "Option for dismissible notifications?"
Often the notification is blocking something you may need access too (a Chrome browser notification etc.). An option to be able to "close" the new track notification would be great?

[2014-12-09 00:06] #34 closed, assigned to nobody

[2014-12-09 11:47] MMore opened #35 "Add to your music by clicking on the notification"
I often listen to new songs and sometime I like the current song. Would be nice to add it to my music by clicking on the notification. Currently I have to switch to Spotify, away from my current workspace.

What do you think?

[2014-12-10 00:48] ianpgall opened #36 "Enhancement - Show Progress of Song"
When I listen to music or watch videos, I have a problem - I need to constantly know how much of their time has elapsed (out of their total length).

So, my main proposal is that somehow, you add the elapsed time and the total time of the song to the notification (if it's even possible).

Obviously, this isn't very useful as soon as a song changes and the notification is shown (other than seeing t

[2014-12-10 00:50] #35 closed, assigned to nobody

[2014-12-23 12:35] AlexanderBand opened #37 "White version of icon on Yosemite dark menu bar"
I have the Spotify Notifications icon set to black instead of coloured so it blends in with the others.
When using the dark menu bar in Yosemite the icon stays black, making it invisible. It should invert to white.
![screenshot 2014-12-23 13 31 45](https://cloud.githubusercontent.com/assets/3448859/5537791/25b0cf78-8aa8-11e4-8304-b8819e1db667.png)
![screenshot 2014-12-23 13 32 22](https://cloud.gi

[2014-12-23 16:50] #37 closed, assigned to nobody

[2014-12-31 17:27] dillonkrug opened #38 "Notification banners not functioning"
I just installed this app and it's not working for me (I'm using Yosemite)

I set a global shortcut and I can hear the sound when I use it, but no banner shows up.  The notification shows up in notification center, but I'm not sure that's working properly either - it only shows "Spotifiy Notifications"

![screen shot 2014-12-31 at 12 24 31 pm](https://cloud.githubusercontent.com/assets/3105014/558

[2015-01-07 23:56] citruspi commented on #38
Hey @dillonkrug,

Thanks for letting me know about this issue.

To be honest, OS X development isn't my forte and I'm not sure how to go about debugging this issue. I'd like to rewrite the project in the near future - the code isn't as clean as it could be. I'll let you know when I've gotten around to a rewrite.

In the meantime, let me know if anything changes.

Thanks.

&mdash; @citruspi

[2015-02-08 20:41] bawigga commented on #10
I just came here to report this bug. It's happened twice in a row for me. Running version 0.4.8 from homebrew cask.

![screenshot 2015-02-08 14 35 06](https://cloud.githubusercontent.com/assets/7358/6098300/f15fad8a-af9f-11e4-8818-cdba50bdd5f0.png)

Here's the expected Artwork:
![screenshot 2015-02-08 14 37 58](https://cloud.githubusercontent.com/assets/7358/6098318/2e9b3bd8-afa0-11e4-9069-21d93cf

[2015-02-08 21:05] citruspi commented on #10
@bawigga,

This issue was resolved in version 0.5.0 which was released on October 27, 2014.

Unfortunately, I haven't released a signed binary since 0.4.8 which is why the website and Homebrew Cask both present 0.4.8.

If you'd like to update you could use [the link I provided](http://cl.ly/0g1S3V1T3W0l) above to @hawkeye0203. However, the link is for a beta release of 0.5.0 which just fixed that

[2015-02-24 04:46] citruspi commented on #25
@AlexAbraham1,

I just wanted to give you an update. Yesterday I signed and published binaries for versions [0.5.0](https://github.com/citruspi/Spotify-Notifications/releases/tag/0.5.0) and [0.5.1](https://github.com/citruspi/Spotify-Notifications/releases/tag/0.5.1), so if you didn't build the project yourself, feel free to download the latest version.

&mdash; @citruspi

[2015-02-24 04:46] #25 closed

[2015-02-24 04:54] citruspi commented on #10
@bawigga @hawkeye0203 ,

I just wanted to give you an update. Yesterday I signed and published binaries for versions [0.5.0](https://github.com/citruspi/Spotify-Notifications/releases/tag/0.5.0) and [0.5.1](https://github.com/citruspi/Spotify-Notifications/releases/tag/0.5.1), feel free to download the latest version.

&mdash; @citruspi

[2015-02-24 13:32] bawigga commented on #10
@citruspi Thanks! Just installed from brew cask!

[2015-02-25 22:12] SnarkNerd opened #40 "Can't open distributable ZIP"
When trying to open the executable (downloaded from http://spotify-notifications.citruspi.io), I get the error:

“Spotify Notifications” is damaged and can’t be opened. You should move it to the Trash.

I'm on OS X Version 10.10.2, if it matters. Apologies if this is not the appropriate place to ask about this problem - the "Support" link on the dev site redirects to this GitHub.

[2015-02-25 23:46] smctradeshift commented on #40
Same exact issue for me.

[2015-02-26 09:19] ambervanos commented on #40
same, tried to download the new version of the plugin on OS X 10.10.2

[2015-02-26 09:28] ambervanos commented on #40
You can download an earlier version from here: https://github.com/citruspi/Spotify-Notifications/releases . Untill the bug is fixed

[2015-02-26 10:16] facundofarias opened #41 "Should be able to close notification"
Once the notification is shown, the user should be able to close it (with an X button, or something like that). Otherwise, if you need to use that part of the screen, for a few seconds it's "locked".

[2015-02-26 15:46] citruspi commented on #41
@facundofarias,

I'm closing this as it's a duplicate of  #34.

&mdash; @citruspi

[2015-02-26 15:46] #41 closed

[2015-02-26 15:50] facundofarias commented on #41
Yeah, sorry I did a quick search and I didn't find it (or I was too sleepy).
Thanks

[2015-02-26 15:55] citruspi commented on #40
Hey,

Thanks for letting me know. I'm sorry to hear you're having this issue and I'm not sure what could be causing it.

The only time I've run into the

error is when the bundle has been modified after signing and Gatekeeper isn't happy.

Unfortunately, I don't have access to the computer which I use to archive and sign the application, but I can try re-signing it later today.

Would you be able

[2015-02-26 19:22] ttmjason opened #42 "Spotify Notifications is damaged"
I'm getting this error message, even after I delete it and try downloading a new version:

"“Spotify Notifications.app” is damaged and can’t be opened. You should move it to the Trash."

I'm on OSX Yosemite 10.10.1, late 2012 Mac Mini.

[2015-02-26 19:57] citruspi commented on #42
@ttmjason,

This is a duplicate of #40.

&mdash; @citruspi

[2015-02-26 19:57] #42 closed

[2015-02-27 14:20] rderharo commented on #40
Requested information:

[code]

[code]

[2015-02-27 18:54] Subastkar commented on #40
Having the same problem.
[code]

[2015-02-27 21:58] sammarcus commented on #40
Me as well, with 0.5.1, but based on the release page it seems you've made more recent commits to 0.5.0? Which is the most current version between the two?

    codesign -dvvv /Users/sammarcus/Downloads/Spotify\ Notifications.app

    Executable=/Users/sammarcus/Downloads/Spotify Notifications.app/Contents/MacOS/Spotify Notifications
    Identifier=io.citruspi.Spotify-Notifications
    Format=bund

[2015-02-27 22:01] citruspi commented on #40
@sammarcus,

I haven't made commits to 0.5.0 that are more recent than the commits to 0.5.1. It shows up higher on the Releases page because I tagged the 0.5.0 release after I tagged the 0.5.1 release.

&mdash; @citruspi

[2015-02-27 22:06] sammarcus commented on #40
Whoops! My mistake, I apologize. I see what you're saying, sorry I overlooked that.
Anyways, I am running 0.5.0 with no problems 😊

[2015-03-06 22:57] luisfrocha opened #43 "File damaged"
When I try to open the app, OS X tells me the file is damaged and it should be moved to the trash can. I've scanned it for viruses and it's clean. I've already downloaded a few times and still get the same message. Not sure what else to try.

![screen shot 2015-03-06 at 4 55 43 pm](https://cloud.githubusercontent.com/assets/7130389/6537967/b4dbf0bc-c421-11e4-981a-0133d287da02.png)

[2015-03-09 13:58] citruspi commented on #43
@luisfrocha,

This is a duplicate of #40.

&mdash; @citruspi

[2015-03-09 13:58] #43 closed

[2015-03-09 14:02] citruspi commented on #40
So, I'm not sure why some of you are having issues. I didn't have any problems, and I've talked to friends who have downloaded and ran it without issues.

I've re-archived, exported, and uploaded version 0.5.1, so feel free to try again and let me know how it goes.

For anyone using [cask](http://caskroom.io), it should work once [this pull request](https://github.com/caskroom/homebrew-cask/pull/9

[2015-03-09 14:12] SnarkNerd commented on #40
For what it's worth, I could not open the previous one (I opened this issue), and I was able to download and open this one. Thanks very much, @citruspi ... have a great day.

[2015-03-09 14:31] citruspi commented on #40
@SnarkNerd,

Awesome, glad to hear that!

I'm probably going to close this issue tomorrow if no one else reports still having the issue.

&mdash; @citruspi

[2015-03-09 15:09] luisfrocha commented on #40
Same here. I was able to download and launch the app. Thanks!!

[2015-03-09 15:21] rderharo commented on #40
Works for me as well. Thanks.

[2015-03-09 15:27] sammarcus commented on #40
Is now working on my end. Thanks! 😊

[2015-03-11 09:26] magonzz commented on #38
I'm having a similar issue where using the keyboard shortcut set by me isn't bringing up a banner with details on the currently playing song. It only notifies me with a banner at the start of a new track, but that's it. The notifications in the Notification Center are working properly for me.

[2015-03-14 18:06] #40 closed

[2015-03-23 18:27] smctradeshift commented on #38
I am seeing the same problem. The banner will appear when a new track starts or when I press pause/play.

[2015-04-09 01:58] kevindantoine opened #44 "Not working"
For some reason the app isnt working for me at all. :(

[2015-04-09 02:13] citruspi commented on #44
[Solved.](https://twitter.com/kevindantoine/status/585986721709338624)

[2015-04-09 02:13] #44 closed

[2015-06-04 16:22] amandapinsker opened #45 "Show current song only works when on preferences panel"

[2015-06-04 16:27] citruspi commented on #45
Hey, thanks for filling an issue. Would you be able to elaborate a little? I'm not sure what the problem is.

[2015-07-06 07:06] iyee opened #46 "Add support for "love track" on last.fm"
The spotify team seems careless for users and suspend this highly acquired feature request: https://community.spotify.com/t5/Live-Ideas/Synchronizing-last-fm-loved-tracks-with-spotify/idi-p/274574 this little helper app would be better if you can implement it, thx in advance.

[2015-07-09 02:54] makosblade opened #47 "Support POST-ing track notifications to an arbitrary URL"
Basically I'd love to be able to use this as a way to send my currently playing track info to anything that accepts JSON POST requests.

[2015-07-24 09:22] vogler commented on #38
The shortcut only works reliably for me if the preferences dialog has focus. Strangely, sometimes, it also works when it's closed - I couldn't reproduce it though.

[2015-07-24 09:23] vogler commented on #45
Same as #38.

[2015-07-28 04:09] randybruder opened #48 "Updated icons based on Spotify's redesign"
Here's updated assets for Spotify-Notifications, based on the Spotify redesign. Included are:
[code]

https://dl.dropboxusercontent.com/u/8895/spotify-notifications-icons.zip

Here's what it looks like with the proper icons:
![image](https://cloud.githubusercontent.com/assets/6447487/8923305/e1e1f12c-34bc-11e5-8ade-ef84ff1b48ef.png)

[2015-07-29 20:10] swrobel commented on #48
:+1:

[2015-07-30 04:42] swrobel opened #49 ""Run on Startup" preference causes Spotify to run on login, not Spotify Notifications"
Changing the "Run on Startup" preference to "Enabled" causes Spotify to be added toSystem Preferences > Users & Groups > Login Items rather than Spotify Notifications. This occurs on El Capitan beta - I don't have another version of OS X to test on.

[2015-08-08 20:26] studgeek commented on #4
Note this only seems to be working when the preferences dialog is open. See #38.

[2015-08-08 20:27] studgeek commented on #38
Can you rename this issue to better show its for keyboard shortcuts?

[2015-08-08 20:31] studgeek commented on #49
It seems to properly add Spotify Notifications for me on 10.10.4

[2015-08-08 20:37] studgeek opened #50 "Speak artist and song name"
A handy option would be the ability to speak the artist and song name in addition to the popup. It's a feature request for Spotify here - https://community.spotify.com/t5/Closed-Ideas/Announce-song-before-or-after-it-plays/idi-p/101171

[2015-08-08 21:27] studgeek opened #51 "Scrobble to last.fm (works around Spotify Connect limitation)"
Unfortunately Spotify Connect does not scrobble to last.fm. To work around that it would be great if this app could scrobble as an option (at same time it does notification). So if Mac Spotify is running we would still get scrobbling.

[2015-08-17 16:16] albenesi commented on #38
Just want to confirm that I also have this issue. It's the same as issue #45.

[2015-09-09 09:29] gerbenjacobs commented on #38
"Show Current Song" shortcut only works when Plugin is focused. This is on Yosemite 10.10.5 and I didn't notice it before I upgraded.

The normal popups do work.

[2015-09-11 11:57] ChristianVermeulen commented on #51
Oh wauw, I actually really like this suggestion! It would help me a lot :-) untill spotify fixes their api connection with last.fm.

[2015-09-22 13:54] thanosgatos opened #52 "Notification shortcut"
It only works when the preferences window is open. Maybe it has something to do with some settings? Any ideas?

[2015-09-22 20:13] citruspi commented on #52
This looks like a duplicate of #38.

[2015-09-22 20:13] #52 closed

[2015-10-01 21:37] drewcovi commented on #48
@randybruder could you PR that thing? or create a fork?

[2015-10-04 14:31] randybruder commented on #48
@drewcovi I don't see how, the three files mentioned in the original post aren't in the Github project, just the compiled release. Don't know how to PR/fork it if the files aren't there for me to replace.

[2015-10-04 15:54] RowanKaag opened #53 "Move Spotify to Menu Bar"
Could this little app remove Spotify (even when running) from the Dock and be 'minimized' into the menu bar, like 'Spotify Notifications' is by default? Then when clicking the menu item, become maximized again?

label: feature request

[2015-10-04 16:47] robinnorth commented on #48
@randybruder Check the `0.5.X` branch (https://github.com/citruspi/Spotify-Notifications/tree/0.5.X), the status bar assets are under `Spotify Notifications` and the app icons are under `Spotify Notications/Images.xcassets/AppIcon.appiconset`.

[2015-10-06 21:22] evansimoni commented on #48
+1 for this PR

[2015-10-06 21:32] randybruder commented on #48
Ok, made a PR. No idea if I did it right.

https://github.com/citruspi/Spotify-Notifications/pull/54

[2015-10-06 21:52] drewcovi commented on #48
@randybruder  I think you did it right, but the images are the old green not the new green.

[2015-10-06 22:04] randybruder commented on #48
Ok, think I did it right this time.

https://github.com/citruspi/Spotify-Notifications/pull/55

[2015-10-06 22:06] drewcovi commented on #48
dy-no-mite! well done on what I'm guessing is a first PR! For future reference, you can always continue to commit to an open PR, no need to close and create anew!

[2015-10-06 22:08] randybruder commented on #48
Well, first two now. It was the different branches thing that was tripping me up, I didn't realize forking a repo would also fork all the branches too. Thanks for your help.

[2015-10-07 00:27] evansimoni commented on #48
Rad! Does anyone know how to update the application file on the main website?

[2015-10-07 00:29] randybruder commented on #48
That would involve compiling the code (probably updating the version to 0.5.2) and having @citruspi update the main website.

[2015-10-07 14:33] citruspi commented on #48
Correct. Sorry about dropping the ball on this, it's been on my todo list but it just kept getting postponed.

I'll need to do a couple things to get the pull request shipped. I'd like to accomplish these today, but I'm going to provide a checklist so that the status of the issue is a little more transparent.

- [ ] Review the changes
- [ ] Bump the version and update the Change Log
- [ ] Merge th

[2015-10-07 14:56] citruspi commented on #53
Hey, @RowanKaag, unfortunately I don't think this is something I would add to Spotify Notifications.

While I'm aware that you can modify an OS X application's information property list file to hide the application's icon from the Dock, I don't believe that it's a feature that belongs in Spotify Notifications itself.

I think that editing Spotify's information property list file and then providing

[2015-10-08 00:40] citruspi commented on #48
Okay, so its been merged, archived, signed, tagged, and released. The website has been updated.

I've submitted a pull request to Homebrew Cask for the new version - caskroom/homebrew-cask#14276.

I think once that's merged in we're good to go.

[2015-10-08 00:42] randybruder commented on #48
Hot damn

[2015-10-08 00:42] #48 closed

[2015-10-08 01:07] drewcovi commented on #48
:+1

[2015-10-08 01:07] drewcovi commented on #48
+1

[2015-10-08 04:17] citruspi commented on #48
Well, [it's official](https://github.com/caskroom/homebrew-cask/pull/14276). :cake:

[2015-10-08 07:45] RowanKaag commented on #53
Thank you for your thoughts.

While I agree that it wouldn't belong to 'Spotify Notifications', I don't see a reason not to include it when possibly adding more functions that go out of the scope of just the notification implementation. But obviously, that is completely up to you whether you want to go beyond that or not. Anyhow, I would definitely be using that other app (as well) if it has some

[2015-10-08 08:09] robinnorth commented on #48
Nice one! :tada:

[2015-10-08 17:36] sebj commented on #49
Can't replicate this on the final build of El Capitan – perhaps this should be closed?

[2015-10-08 18:23] swrobel commented on #49
On OSX 10.11

![Screencast](http://g.recordit.co/CGAL4RflLP.gif)

[2015-10-08 18:53] citruspi commented on #49
So, for a moment I thought it was an actual bug, but then....

![spotify notifications login item](https://cloud.githubusercontent.com/assets/2125849/10376508/2cec08d6-6dcc-11e5-90fd-fa801ebaebbf.gif)

[2015-10-08 18:56] #49 closed

[2015-10-08 19:01] citruspi commented on #53
So, I could see adding a menu item to open Spotify.

Then users could edit Spotify's information property list file themselves if they'd like to _only_ access Spotify through there.

Would that be fine. And should the item be named `Spotify` or `Open Spotify`?

[2015-10-08 21:40] swrobel commented on #49
Dear god, I am an idiot. I'm terribly sorry.

[2015-10-09 10:43] RowanKaag commented on #53
That'd be awesome!

[2015-10-10 18:14] evansimoni commented on #48
This is great, thanks @citruspi @randybruder !
:clap:

[2015-10-11 17:12] simeg opened #57 "Enhancement - Add custom styling"
I'd really like to have the option to re-style the notification pop-up, but unfortunately I cant write Swift or Objective-C. Personally I'd like a darker theme and a slimmer pop-up.

Thanks for the great work.

[2015-10-11 20:48] citruspi commented on #57
Hey @simeg, as far as I'm aware, OS X Notification Center notifications cannot be styled.

The most "customization" that OS X will allow you is this:

<img width="378" alt="screen shot 2015-10-11 at 4 44 21 pm" src="https://cloud.githubusercontent.com/assets/2125849/10418981/60e6bf7e-7037-11e5-988d-e1e80009a954.png">

I believe that you can style [Growl][Growl] notifications using CSS, but Spotify

[2015-10-11 20:49] #57 closed

[2015-12-15 18:21] brycedorn opened #58 "Disable Spotify logo in notification"
Thanks so much for this! Really missed the little notification of what song was next ever since Growl stopped working :crying_cat_face: glad to have it back.

One thing that I miss though - is there any way to disable the Spotify logo in the notification and replace it with the album art? Like so:

<img width="233" alt="screen shot 2015-12-15 at 12 19 20 pm" src="https://cloud.githubusercontent.co

[2015-12-15 19:38] citruspi commented on #58
Does the album art not show up for you at all? Because both the Spotify icon and the album artwork should appear in the notification if you're using OS X 10.9 or later.

![](https://cloud.githubusercontent.com/assets/2125849/11821569/3c6ba89c-a338-11e5-855c-03922997a41b.png)

Inclusion of the album artwork should be enabled by default, but you can check what it's set to in the settings.

![untitle

[2015-12-15 19:46] brycedorn commented on #58
album art is showing fine - just meant the logo on the left. looks like that pr addresses this though, thanks!

[2015-12-15 19:50] citruspi commented on #58
No worries. I'll leave this issue open until that gets merged.

[2016-02-13 19:16] robbiet480 commented on #51
This would be awesome to see! Spotify isn't planning to fix this limitation, [at least as of July 2015](https://community.spotify.com/t5/Live-Ideas/Spotify-Connect-Scrobble-to-Last-fm/idi-p/633074)

[2016-02-17 09:55] numblock commented on #38
+1

[2016-03-03 10:57] BartHuis commented on #45
@citruspi  its not the same as #38 , i have this problem too. i assigned F19 on my mac keyboard to the "show current song playing" action, when i press it when the preferences pane is active, it shows it correctly, but when i switch to an other program, and then press F19, it doesn't show up also...

[2016-03-21 13:25] razvan-tudosa commented on #45
This functionality is not working for me either. My custom shortcut only works if the Spotify Notification Options panel is on my screen.

[2016-03-26 12:56] atb69 opened #60 "Growl"
Hi, any plans to incorporate Growl support in the future? Thanks!

[2016-03-29 16:06] jadchaar opened #61 "Request: White icon for OS X Dark Mode users"
Currently, there are menu bar icon options of coloured, black, and none. Anyway we can get a white version for dark mode users? Thanks!

[2016-03-29 16:47] TheSeg commented on #61
When you select 'black', it detects dark mode and automatically switches to a white icon.

Course, one could say 'black' as the label of the option isn't intuitive. Perhaps renaming to 'auto' or 'standard'?

[2016-03-29 16:50] jadchaar commented on #61
I think maybe doing "Auto (Black/White)" may be the best choice. Also, I think ya'll should default that over colored because a lot of menu bar icons are black and white :).

[2016-04-05 18:40] madkap opened #62 "keyboard shortcut not working"
running mac osx 10.10.5, app ver 0.5.2

i set the shortcut to view current song but can't use the shortcut outside of the spotify-notifications app. Don't know if it's a known issue, couldn't find a related issue. Thanks.

[2016-04-25 18:57] J0HAN85 commented on #62
Same here, except I'm running OS X 10.11.4
It did work for me in the past.

[2016-05-10 19:21] D-elias opened #63 "Add to current playing song to "playlist" from notification."
Hi, can you please add a button to the notification banner to add the  current playing song to a defined "playlist" set in preferences?
Thanks

[2016-06-01 02:46] tannerpreiss opened #64 "Request: Change "Disable when Spotify has Focus""
Just a little user feedback, the "Disable when Spotify has Focus" options are not clear.

For instance:
- `Disable when Spotify has Focus = Enabled.`
  Is this saying when spotify has focus the notifications are disabled? or is this saying when the spotify has focus the notifications or enabled?
- It is similar to `False when Spotify has Focus` --> `True or False`. Clearly this makes no sense.

I

[2016-06-24 03:08] jadchaar opened #65 "Enhancement Request: Display Dimming and Notifications"
Hello,

I was recently listening to Spotify on my laptop and it turned off the display to save energy after a while. I then used the Spotify remote (the spotify app on iOS to control my mac's spotify) on my phone to control the songs so that I wouldn't have to turn on the entire laptop from power saving mode to change the song. But the problem is that when I did this, Spotify Notifications trigger

[2016-07-05 18:20] J0HAN85 commented on #62
I just figured out that it's working again when I set "Show only current song" to disabled.

[2016-07-10 12:26] andybee opened #66 "Start and end of track notifications "music video style""
It would be nice to be able to configure notifications to appear when a new track starts and also as it finishes, much like captions on music videos.

I realise, based on the feedback to #36, this might be tricky as there's is no "elapsed position" data in the notifications from Spotify, so you would likely have to rely on an internal stopwatch and it may get confused if the user skipped around in

[2016-07-12 01:08] jollex opened #67 "Display featured artists"
Currently only the main artist is displayed in the notification, it'd be nice if featured artists were also included.

[2016-07-20 19:56] rgbink commented on #62
@J0HAN85 Any idea as to why? What does "Show only current song" do, actually? What other song would notification show?

[2016-07-25 20:45] J0HAN85 commented on #62
@rgbink Nope, I have no idea what is does or means.

[2016-07-25 20:51] J0HAN85 commented on #38
Check this: https://github.com/citruspi/Spotify-Notifications/issues/62
Keyboard shortcut works when you set "Show only current song" to disabled.

[2016-07-26 19:11] nwself commented on #38
This workaround from @J0HAN85 makes my keyboard shortcut work again too.

[2016-09-14 01:54] mike-u opened #68 "Updated icon"
It would be nice to update the icon to the new color. I'm having trouble finding where the current one is stored in this project though.

[2016-09-23 15:59] nbgraham opened #69 ""Show Current Song" shortcut doesn't work when other apps have focus"
As far as I can tell, the "Show Current Song" shortcut only works when I have the preferences open and in focus. If I close the preferences or switch focus to another app like Chrome, XCode,  or Terminal, the shortcut does nothing.

I tried with:
- ⌥⇧⌘E
    - option shift command E
- ⌥⌘s
    - option command S

[2016-09-23 16:07] nbgraham commented on #68
Which icon are you talking about? The app icons are identical colors.

![same colors](https://cloud.githubusercontent.com/assets/11163850/18792856/ccd52966-817d-11e6-91ce-c17b255e4190.png)

[2016-09-23 18:23] OstrichProjects commented on #69
Same here on macOS Sierra 10.12 (16A323)

[2016-09-23 18:31] nbgraham commented on #69
Duplicate of
* #38 Notification banners not functioning
* #62 keyboard shortcut not working

[2016-09-23 18:31] #69 closed

[2016-09-23 18:33] nbgraham commented on #62
I had the same issue on MacOS Sierra Version 10.12 (16A323).

Disabling "Show only current song" also worked for me.

[2016-09-24 20:52] mike-u commented on #68
I see I was just on an older version, sorry.

[2016-09-24 20:52] #68 closed

[2016-09-29 19:44] citruspi opened #71 "Future"
Yeah, so a couple things.

1. I've been an awful maintainer for this project for the last year or so.
2. I am still interested in maintaining the project - I'm not abandoning it.

In the last year or so, I've dropped out of college, gotten a job, moved to a new city, travelled a bunch, etc. It's been a pretty busy year and I haven't been able to give this project the love that it and its users des

[2016-09-29 19:45] citruspi commented on #71
cc: @sebj @nbgraham

[2016-09-29 19:50] nbgraham commented on #71
I've never used Objective-C and Swift seems to be the way things are moving, so my vote would be to switch completely to Swift. I like all the changes from #56 and I would be happy to implement them in Swift.

[2016-09-29 19:51] sebj commented on #71
Hey, I'd be happy to implement my changes in Swift too 😆

[2016-09-29 19:53] sebj commented on #71
;D But yeah, haven't checked out the Swift repo to be honest. If it doesn't build on latest Xcode/Swift, make sure it does, then divide up work on porting 56 or something?

[2016-09-29 19:55] citruspi commented on #71
Sweet, thanks guys.

Would the two of you be interested in becoming collaborators? I'd give you guys push access.

I'd still want pull requests as opposed to directly pushing to the repo just for the sake of code reviews, but I'd trust you guys to merge in code as necessary.

[2016-09-29 19:55] nbgraham commented on #71
@sebj Yeah that makes a lot more sense. Let me know if you want any help with that.

Seems like #56 should be merged into the 0.5.x for it's functionality and closure, but have no idea what that entails. Not sure I could be any help there.

I thought I got Swift working with #70 (it was locally) but the CI failed

[2016-09-29 19:58] citruspi commented on #71
Sweet, done. You guys should have push access.

Only other thing which I should probably mention - the 0.5.X branch was MIT licensed. The Swift branch is in the public domain (via The Unlicense).

[2016-09-29 19:59] sebj commented on #71
@citruspi Sure – thanks for the invite! 😃 #56 should merge cleanly into 0.5.x (/ @nbgraham ) so that _could_ be done if you wanted to @citruspi. Also could be worth editing the readme on that branch so people know development is master only? I don't know

[2016-09-29 20:01] citruspi commented on #71
I'm not opposed to merging in #56 for closure.

I think that ideally, going forward, the `master` branch should be considered stable. So perhaps:

1. Merge in #56
2. Rename `master` to `swift-dev` or something
3. Rename `0.5.X` to `master`

Would that make sense? Or would it just cause more confusion?

[2016-09-29 20:04] sebj commented on #71
@citruspi Ooh that's a good idea if we can do that imo

[2016-09-29 20:04] citruspi commented on #71
@sebj FWIW I did run your branch when you originally submitted and I believe I noticed a small bug. I can double check when I've got some free time, but I believe that the value of the Notifications checkbox wasn't saved to user preferences so if a user disabled and restarted the application, it would be re-enabled.

![687474703a2f2f692e696d6775722e636f6d2f4961504c5066542e706e67](https://cloud.git

[2016-09-29 20:11] nbgraham commented on #71
@citruspi Thanks for the invite! And good luck with the new place and job!

So who wants to do:

1. Merge in #56
2. Rename `master` to `swift-dev`
3. Rename `0.5.X` to `master`

[2016-09-29 20:23] citruspi commented on #71
@nbgraham Thanks!

I've also just got a new laptop, so I don't have Xcode installed or setup or anything. I've started downloading it, I just want to confirm that I can build and run #56 and everything works before it gets merged in so that we can create a new release.

Assuming everything works, I can drop a comment in the thread for #56. I'd probably say that whoever merges in #56 can also renam

[2016-09-29 20:25] sebj commented on #71
@citruspi Can we merge before renaming? Feels easier/safer in my eyes lol. And on that bug, you're right – just recreated it. After we merge I'll commit again with a fix?

[2016-09-29 20:27] citruspi commented on #71
@sebj Okay, I'll hold off on renaming the branches until #56 gets merged in.

Would you be willing to commit the fix to #56 prior to merging it in?

[2016-09-29 20:31] sebj commented on #71
Yep sure. Could we.. enact this repo plan from tomorrow? I'm pretty exhausted and want to sleep at the moment lol. Would rather approach this bright-eyed tomorrow morning (UK time).

[2016-09-29 20:35] citruspi commented on #71
Sure thing. Once you commit the fix, feel free to merge the pull request and rename the branches. I'm on the US East Coast so if you wait for me, it may be a couple hours after your morning.

[2016-09-29 20:38] sebj commented on #71
@citruspi Ok, sounds good!

[2016-09-29 20:48] nbgraham commented on #71
Seems like I don't have anything to do!

Any thoughts on #59?

[2016-09-29 21:16] citruspi commented on #71
@nbgraham I haven't had a chance to take a in-depth look at that pull request, but it looks mostly fine after a cursory glance. I've added a comment about some code which doesn't seem to be used.

I also haven't had a chance to try building and running or confirming that it does indeed fix, but based on the code and the comments in #38 and #69 it looks like it should.

However, it's worth noting t

[2016-09-30 06:06] RowanKaag commented on #71
Just my two cents, I'm really glad this project will be getting some love again. Love this application :)

[2016-09-30 10:54] sebj commented on #71
@citruspi @nbgraham Just merged #56 into 0.5.X, and fixed that bug @citruspi mentioned.

[2016-09-30 10:56] sebj commented on #27
Used this in the pretty big #56 update, which is now merged into the repo. Thanks!

[2016-09-30 10:56] #27 closed

[2016-09-30 10:57] sebj commented on #18
Notifications now have a skip button as of #56 being merged in! Thanks @fill1890  :)

[2016-09-30 10:57] sebj commented on #23
Notifications now have a skip button as of #56 being merged in! Thanks @tgpraveen  :)

[2016-09-30 10:58] sebj commented on #53
As of #56 being merged in, there's a menubar item to open Spotify. Thanks for your idea @RowanKaag! :)

[2016-09-30 10:58] #53 closed

[2016-09-30 10:59] sebj commented on #71
Commented on and closed #27, #18, #23 and #53.

[2016-09-30 11:10] sebj commented on #71
@citruspi Setup and pushed `swift-dev` branch, which is just a clone of `master`, but to remove master we need to set the default branch to `swift-dev`, which can only be done by yourself (repo Settings => Branches => Default Branch). Then renaming `0.5.X` to `master` should be easy.

[2016-09-30 15:27] citruspi commented on #71
@sebj Awesome stuff on #56. I'm also going to close #38, #45, and #62 since they were fixed by #56 as well as #59 since it doesn't add anything new at this point.

[2016-09-30 15:30] citruspi commented on #71
Branches should also be fixed as well now.

`master => 0.5.X Objective-C`
`swift-dev => Swift port`

[2016-09-30 15:31] citruspi commented on #38
This issue has been fixed in #56.

[2016-09-30 15:31] #38 closed

[2016-09-30 15:31] citruspi commented on #45
This issue has been fixed in #56.

[2016-09-30 15:31] #45 closed

[2016-09-30 15:31] citruspi commented on #62
This issue has been fixed in #56.

[2016-09-30 15:31] #62 closed

[2016-09-30 15:41] sebj commented on #71
@citruspi Great :) How do we approach this next? I'm happy to carry on porting from `master` to `swift-dev`

[2016-09-30 16:16] citruspi commented on #71
Good question. :)

So I think there's two action items:

1. Push out a release for the changes in #56. I'd consider that versions `0.6.0`. Thoughts?
2. Finish the port to Swift.

For the Swift port, I'm wondering how much sense it would make to actually create issues for work and assign them to people or to try using GitHub Projects. I've created a project for the port [here](https://github.com/ci

[2016-09-30 16:22] sebj commented on #71
All sounds good! Seems like you can't tag or mention people in Projects cards, but you can keep track of what's being worked on. Would be cool to use as a basic todo list separate from long-standing issues that exist.

[2016-09-30 16:29] citruspi commented on #71
Yeah, a basic todo list would probably make sense. Perhaps just a new issue with a checklist of items.

re: Tagging or mentioning people in project cards, you can add issues to the project if you hit the "Add cards" button on the top right. So I think we'd create issues, assign, mention, etc. in the issue and then track the issue via the project.

<img width="1920" alt="screen shot 2016-09-30 at 1

[2016-09-30 16:34] sebj commented on #60
Seems unlikely seeing as Growl is pretty much unused and replaced by notification centre, and the minimum macOS target will only get higher for the project as time goes on. @citruspi thoughts?

[2016-09-30 16:35] sebj commented on #58
#56 has been merged @brycedorn! 😃

[2016-09-30 16:35] #58 closed

[2016-09-30 16:49] sebj commented on #71
Gotcha, sure thing

[2016-10-03 03:42] tgpraveen commented on #23
@sebj Thanks for implementing this :)

[2016-10-03 07:49] sebj commented on #23
@tgpraveen No worries! 😃

[2016-10-04 23:14] citruspi commented on #60
Yup, I'd probably agree with @sebj. If Growl had a significant market share, I might reconsider, but I'd be surprised if that was the case.

It certainly wouldn't allow us to support older macOS releases -  Spotify currently requires macOS 10.9 or later and the macOS Notification Center was released as part of macOS 10.8 - any Spotify (and Spotify Notifications) users should have Notification Cent

[2016-10-04 23:14] #60 closed

[2016-10-17 16:47] RowanKaag opened #72 "Build Instructions"
Could anyone provide build instructions? I'm rather new to XCode and the version on https://spotify-notifications.citruspi.io is outdated, nor are there release provided on GitHub.

Thank you in advance!

[2016-10-17 17:06] citruspi commented on #72
Once you've got Xcode installed, run

[code]

to clone the repository and the git submodules.

Open the `Spotify-Notifications.xcodeproj` file in Xcode, and then in the menu do `Product > Archive`.

Hit `Export` on the right and then select `Export as a macOS App` unless you've got a Developer Account setup.

<img width="100%" alt="untitled" src="https://cloud.githubusercontent.com/assets/2125849/

[2016-10-18 07:21] RowanKaag commented on #72
Thank you, building worked out. I kept getting 'Test' which presumably came from MASShortcut. Changed the 'Product > Scheme' to Spotify-Notifications, working as intended :)

[2016-10-18 07:31] RowanKaag commented on #72
#53 is working perfectly, thank you so much. Will be posting a video later today.

[2016-10-18 16:36] RowanKaag commented on #72
What's not immediately clear in the video is that my Spotify window is hidden in the background through changing the LSUIElement. By opening it either through Spotify Notifications or Alfred, it brings up the **hidden** window.

https://www.youtube.com/watch?v=0GFlWA_hZa0

[2016-10-19 17:34] RowanKaag commented on #72
I can imagine others wanting these instructions. Would it be an idea to incorporate these in the readme.md or make a document like building.md and referende it in the readme?

[2016-10-19 22:50] sebj commented on #72
Depends on your knowledge of building an app from source, to me at least this all seems pretty familiar stuff. We need to provide the latest release on Github anyway, and that should be fine for most people.

[2016-10-20 00:22] citruspi commented on #72
Yeah, I'd agree with that. In general I don't think that the build process for the application is esoteric - it's fairly standard for any macOS or iOS application. Clone the repository (and any dependencies) and then create an archive.

If we provided build instructions, they'd probably look like this:

I may look into creating a Makefile which leverages `xcodebuild` to build the application for y

[2016-10-20 00:28] citruspi commented on #72
Another item that's not very high on my to do list, but I might try to setup a spare MacBook as an Xcode build server to perform CI and automatically sign and distribute archives.

And then ideally, merge to master would automatically result in a new archive being built, signed, and uploaded and the website being re-built.

[2016-10-20 06:43] RowanKaag commented on #72
Sounds great, thank you!

[2016-10-26 12:51] hnnweb opened #74 "Error on homepage"
The trademark notice on the homepage is wrong.

"Spotify is a registered trademark of Spotify AB Inc."

Spotify is actually a registered trademark of Spotify AB.

AB in Sweden is the same as Inc.

Attaching screenshot from Spotify.com/us/:
![screen shot 2016-10-26 at 14 43 14](https://cloud.githubusercontent.com/assets/3874960/19726307/8e60fd8c-9b8a-11e6-8d63-5bcb4a35eab4.png)

[2016-10-28 13:23] #74 closed

[2016-10-28 13:24] sebj commented on #74
Probably better to file an issue at https://github.com/citruspi/spotify-notifications.citruspi.io where website code actually is, but I'll mention @citruspi because it's a small change.

[2016-11-09 23:02] get-json opened #75 "Feature request"
Timer for how long the notification stays on the screen

[2016-11-11 20:05] #61 closed

[2016-11-11 20:07] sebj commented on #31
Just tested and this doesn't appear to be an issue with the latest version (0.6.0). Both album art and Spotify icon show fine on my Retina display. Feel free to comment if this is still an issue.

[2016-11-11 20:07] #31 closed

[2016-11-11 20:09] sebj commented on #26
Just tested with the latest version (0.6.0) on macOS Sierra 10.12.1 and this no longer appears to be an issue. Feel free to comment if it still is.

[2016-11-11 20:09] #26 closed

[2016-11-11 20:11] sebj commented on #29
Doesn't look like this is still an issue with the latest version (0.6.0), so I'm closing this issue. Feel free to comment if this is still a problem you're experiencing.

[2016-11-11 20:11] #29 closed

[2016-11-11 20:12] citruspi commented on #72
Forgot to update the issue, but I cut a [release][0] last weekend and updated the [website][1] with version 0.6.0.

[0]: https://github.com/citruspi/Spotify-Notifications/releases/tag/0.6.0
[1]: https://spotify-notifications.citruspi.io

[2016-11-11 20:12] #72 closed

[2016-11-11 20:13] citruspi commented on #74
Thanks for the heads up, @hnnweb, I've fixed the website.

[2016-11-11 20:21] citruspi commented on #75
To clarify, are you asking for the ability to set how long a notification stays on the screen?

[2016-11-11 22:12] get-json commented on #75
Yep

[2016-12-03 11:29] purevertigo opened #76 "Home Page Down"
How do I install this? Your website is down and I can't find any installation instructions.

[2016-12-03 13:47] citruspi commented on #76
Hey, sorry, DNS issue.

I'm currently at the airport waiting to board a flight, but I think it should be resolved by the time I land. If it isn't, I'll take another look.

Sorry about that.

[2016-12-03 13:56] citruspi commented on #76
Looks like it's been resolved, feel free to re-open the issue if you continue to experience problems.

[2016-12-03 13:56] #76 closed, assigned to nobody

[2016-12-04 03:17] purevertigo opened #77 "No Notifications"
I don't get any notifications at all. macOS Sierra

[2016-12-04 03:25] purevertigo commented on #77
Weird. Works Now. Thanks.

[2016-12-04 03:25] #77 closed, assigned to nobody

[2016-12-07 23:49] rpanachi opened #78 "How to remove Spotify icon?"
There is a way to remove the Spotify icon (the green logo) from notification?

<img width="375" alt="screenshot 2016-12-07 21 47 46" src="https://cloud.githubusercontent.com/assets/51511/20991692/e163d092-bcc6-11e6-8542-4a1bda5cd79f.png">

[2016-12-15 13:03] Dalibor22x opened #79 "Start Spotify-Notifications on Spotify start"
It would be great if Spotify-Notifications would be able to launch when Spotify starts in addition to the launch at start option.

[2016-12-15 15:00] robinnorth commented on #79
Hey @Dalibor22x, have you tried using Automator to create a launcher that starts both Spotify and Spotify Notifications? See http://apple.stackexchange.com/a/153324 for an example.

[2016-12-16 11:12] Dalibor22x commented on #79
Hey @robinnorth , haven't thought about that and I think I will use this solution, but it would be great if it would be a built-in option.

[2016-12-17 15:13] sebj commented on #79
Is it necessary to have Spotify Notifications launch only when Spotify is launched vs launching at login? Seems there's very little difference – the app is very lightweight.

To have Spotify Notifications 'launch' (show in menubar) when Spotify launches would require a background process to check when Spotify is opened, meaning no matter whether you choose Launch At Login or Launch with Spotify, t

[2016-12-17 21:12] citruspi commented on #79
Yep, I'd agree with @sebj and @robinnorth - using [ControlPlane][0] or an Automator application would probably be the way to go.

Another option - assuming you're comfortable scripting - would be to use [HammerSpoon][1] to watch for the launch of Spotify (using [`hs.application.watcher`][2]) and then launch Spotify Notifications (using [`hs.application`][3]).

Like @sebj said, any solution which i

[2016-12-19 20:30] Dalibor22x commented on #79
@sebj @citruspi Ok I see, the best solution would be to use Automator as @robinnorth mentioned.

[2016-12-19 21:19] #79 closed, assigned to nobody

[2016-12-29 19:26] underyx opened #80 "Homebrew Cask still on v0.5.2"
Seems to be missing now, so homebrew cask is still installing the old version.

[2016-12-30 08:15] citruspi commented on #80
It's not just that the archive is missing from GitHub, but that [the cask][0] hasn't been updated to the new version.

The `version`, `sha256`, `url`, and `appcast` values will need to be updated. I can submit a PR to the `homebrew-cask` repository sometime today or tomorrow.

[0]: https://github.com/caskroom/homebrew-cask/blob/60531a2812005dd5f17dc92f3ce7419af3c5d019/Casks/spotify-notifications.r

[2016-12-30 11:16] underyx commented on #80
Well my line of thinking was, if you just upload the archive, the caskroom maintainers will soon update the cask cause the new version will show up on the appcast feed.

[2016-12-30 18:10] sebj commented on #71
@citruspi How would you feel about switching `swift-dev` and `master` branches, seeing as `swift-dev` is on-par with `master` now?

[2017-01-01 06:25] citruspi commented on #71
@sebj Woah, I didn't realize that the `swift-dev` branch was on par `master`, nice work!

When you say switching the branches, do you mean making the _contents_ of `swift-dev` the "live" code? i.e. merging `swift-dev` into `master`?

I just tried building the `swift-dev` branch but received the error
[code]
on the line
[code]
in `LaunchAtLogin.swift`.

Side note, could we use pull requests when me

[2017-01-01 07:17] citruspi commented on #80
I'm no longer hosting the archives on GitHub, they're now hosted on https://downloads.spotify-notifications.citruspi.io.

To be frank, I'm not a fan of GitHub as a product or as a company and I don't _personally_ use them - I have a private GitLab instance which I run for personal stuff. The only reason that this (and other repositories of mine) exist on GitHub are because the community is here -

[2017-01-01 07:18] citruspi commented on #80
I've submitted a pull request updating the cask version to 0.6.0, I'll close this issue once that is merged in.

[2017-01-01 12:16] citruspi commented on #80
Homebrew Cask now points to the v0.6.0 build of Spotify Notifications.

[2017-01-01 12:16] #80 closed, assigned to citruspi

[2017-01-01 20:50] sebj commented on #71
@citruspi Happy New Year to you too! 😃

On PRs: I think my New Year's resolution should be to actually use feature branches & PRs more often (sorry!) 😬

I believe I've solved that issue, along with a couple other bugs on the `swift-dev` branch (let me know, seemed to be fine for me in testing).

As for the future of the branches, I'm unsure as to whether `swift-dev` can be merged into `master` cle

[2017-01-02 05:06] citruspi commented on #71
I'm stepping out right now but I'll try building it again when I get back.

Gotcha, yeah, a switcheroo makes sense.

Yep, go for it.

[2017-01-02 11:47] sebj commented on #78
As far as I know, it's not possible for us to remove the Spotify icon from the notification.

(We're using a private API to set a big image on the left, but that forces the app icon to be next to the title – if you play a song in iTunes you'll notice its notification looks the same as ours).

[2017-01-02 11:47] #78 closed, assigned to nobody

[2017-01-02 12:04] sebj commented on #64
Could reword a couple of the notifications preferences options to something similar to this:

![](https://cloud.githubusercontent.com/assets/379991/21588919/818b6190-d0e3-11e6-8559-dc719321eb41.png)

Edit: Have done so in `swift-dev` branch, coming soon to a release near you.

[2017-01-02 12:08] citruspi commented on #78
FWIW the private API for `NSUserNotification` is documented [here][0], if you figure out someway to optionally hide the app icon completely, feel free to re-open the issue.

[0]: https://github.com/indragiek/NSUserNotificationPrivate

[2017-01-02 12:17] sebj commented on #78
@citruspi Aye, I looked through but it doesn't seem like there's anything of use on this issue (let me know if I missed something)

[2017-01-02 12:18] citruspi commented on #78
@sebj Yep, I took a look and didn't see anything useful either. That was more for @rpanachi's benefit in case he was interested in looking into the matter and wanted a place to start.

[2017-01-02 12:23] citruspi commented on #75
This should technically be possible by using a [Timer][0] to call [removeDeliveredNotification][1] `x` seconds after delivering the notification.

I'm not sure if it will be implemented and if so what priority it would take, I'll let @sebj weigh in with any thoughts he has.

[0]: https://developer.apple.com/reference/foundation/timer
[1]: https://developer.apple.com/reference/foundation/nsusernoti

[2017-01-02 12:38] citruspi commented on #71
@sebj I've pulled down the latest changes and the application now builds but notifications don't appear and the status of Spotify (at the top of the menu) is stuck to `Not Playing`. I'll look into it when I've got a bit of time. I don't know if it's an application issue or a problem with my system (but the current v0.6.0 Objective-C build runs without an issue so I suspect it's the former).

[2017-01-02 12:43] sebj commented on #71
@citruspi I just made some more changes locally, I think I've fixed that too. 😬

Also may have bundled in changes to prefs:
![](https://cloud.githubusercontent.com/assets/379991/21589357/bff32b66-d0e8-11e6-97a1-120ff6fa3dc7.png) & an about window
![](https://cloud.githubusercontent.com/assets/379991/21589363/ce238776-d0e8-11e6-9cac-3311d6f11ab8.png)

[2017-01-02 12:47] citruspi commented on #71
Sweet!

@ me when you push up the changes and I'll take a look.

[2017-01-02 12:47] sebj commented on #33
Seeing as there've been no updates on this issue in about 2 years, I'm closing it. Feel free to comment if the issue still occurs or there's an update.

[2017-01-02 12:47] #33 closed

[2017-01-02 12:51] sebj commented on #71
@citruspi Just pushed!

[2017-01-02 13:08] citruspi commented on #71
Close but no cigar.

The Spotify play state in the menu updates but there still aren't any notifications and manually triggering a notification via the global shortcut results in a notification that there's nothing playing.

<img width="646" alt="screen shot 2017-01-02 at 6 34 15 pm" src="https://cloud.githubusercontent.com/assets/2125849/21589682/68de904a-d11a-11e6-97fa-10bcfedf4c84.png">

Also,

[2017-01-02 13:13] citruspi commented on #71
Just realized that the Last.fm menu item is also disabled.

[2017-01-02 14:05] sebj commented on #71
@citruspi Argh. I think I've just fixed the problem you mentioned with a very small fix (lemme know).

[2017-01-02 17:17] sebj commented on #75
@citruspi Would be pretty easy to add, I don't mind (although I feel as though it's a slightly odd/unnecessary cluttering of the preferences window, especially if it gets more crowded with the other feature request issues).

If you 'sign off' on this, I could add something like this though:

![](https://cloud.githubusercontent.com/assets/379991/21593450/2f6fc154-d10f-11e6-9396-daec39234466.png)

[2017-01-02 17:19] #64 closed

[2017-01-02 17:27] sebj commented on #36
@citruspi `SpotifyApplication` exposes a `playerPosition` property we could read, in combination with the `duration` of the song. Wouldn't mind adding ("1:39 / 4:10") or something similar to the keyboard shortcut notification. My only question would be: show the time by default when the shortcut is pressed, or have a preferences option to show it? (I'd vote former)

[2017-01-02 17:29] sebj commented on #63
Note for future code:

I'm not sure this is possible without making a web request to Spotify's API and significantly increasing app code complexity. Perhaps using Applescript launched by the app?

[2017-01-03 03:42] citruspi commented on #36
Thanks for taking a look into this @sebj!

So currently the notification is

[code]

Where would you see the `playerPosition` and `duration` being positioned?

My first instinct is to say to the right of the title, like

[code]

but with longer titles, the position and duration information would just disappear.

<img width="360" alt="screen shot 2017-01-03 at 8 37 08 am" src="https://cloud.githubu

[2017-01-03 12:29] sebj commented on #36
@citruspi I hadn't thought about time info with longer titles actually.. We could re-arrange the notification information to match the title and subtitle format of iTunes when the preferences option is enabled, and add time after, like:

[code]

I'd also vote for the preferences option to be disabled by default (not sure the majority of users would find the info useful).

[2017-01-03 12:32] sebj commented on #63
Update: Spotify doesn't expose any information/actions relating to playlists via its AppleScript scripting interface.

[2017-01-03 12:49] citruspi commented on #36
Cool, so just to cover the formats for different scenarios:

1. Triggered by **Spotify Event Change** and Preference **Disabled**

[code]

2. Triggered by **Spotify Event Change** and Preference **Enabled**

[code]

3. Triggered by **Global Shortcut** and Preference **Disabled**

[code]

4. Triggered by **Global Shortcut** and Preference **Enabled**

[code]
---
Alternately, I'd also be comfortable

[2017-01-03 12:51] sebj commented on #67
Looks like this is an issue with Spotify's AppleScript scripting interface.

Even if a song shows with featured artists on Spotify, only the main artist is given in the `artist` property.

We could check the song name for "feat.", and pull the artists out from that ( /cc @citruspi ? )

[2017-01-03 12:52] sebj commented on #36
@citruspi Y'know I was just going to ask that too. I see iTunes, Miniplay, and possibly others following that format. Those 3 scenarios sound good to me.

[2017-01-03 22:07] hjorne opened #81 ""No Song Playing" when using Spotify's "Recommended Songs" feature"
It appears that when I first switch to using Spotify's "Recommended Songs" feature (the songs at the bottom of the playlists), I'll get "No Song Playing" (see screenshot). It appears to correct itself after a few songs, and then won't do it for awhile, but if I switch to another playlist and start playing those recommended songs it will do it again.

This is running Spotify 1.0.45.186.g3b5036d6 on

[2017-01-03 23:18] sebj commented on #81
Just recreated this – even on the latest development code, I get 'No Song Playing' for the first Recommended Song of each playlist I visit.

I'll see if I can pin this bug down tomorrow..

[2017-01-04 10:26] floodedcodeboy opened #82 "Enhancement: Allow to Love/Save track from notification"

[2017-01-06 11:57] JackWa opened #83 "Enhancement: Close button in preferences menu"
Hey all,

Requesting a small Quality of Life change.
Could you add a Close button in addition to the Quit button?

I find myself hitting quit accidentally after making changes to my preferences.

Thank you.

[2017-01-06 12:23] sebj commented on #83
Hi,

I've actually removed the buttons at the bottom of the preferences window entirely in the development branch (Website/Source/Contributors moved to About window; Quit now just in the menubar menu and not in the preferences window).

[2017-01-06 12:23] #83 closed, assigned to nobody

[2017-01-06 18:50] sebj commented on #81
~~I think I've fixed this issue in the `swift-dev` development branch now.~~

Not fixed, but narrowed the issue down in `swift-dev`. Strangely, Spotify seems to sometimes return an empty album artwork URL, causing the rest of `getAlbumArt` to fail, although why that should stop the notification from being delivered without an image I'm not sure.

[2017-01-06 19:16] citruspi commented on #71
@sebj, thanks for fixing #81 and taking a look at the changes in #84.

I've been at a wedding for the last couple days, but I'll be back tomorrow and I'll take a look at the state of the `swift-dev` branch over this weekend. Hopefully we can push it out and switch the branches by next weekend (I'll be traveling from India to Qatar to New York to Boston from next Tuesday to next Friday, so I'll be

[2017-01-06 19:38] sebj commented on #71
@citruspi That's fair enough, sounds good to me. Apologies if I caused you to get spammed with Github notifications(!). I've just been trying to clear some of the open issues on a couple of my Github repos recently, hence some activity here.

I've closed #84, but looks like my tentative comment on #81 has been proved wrong. Otherwise, #67 is covered, but I've left a line commented out that would r

[2017-01-09 20:39] ianpgall commented on #36
@sebj @citruspi Just wanted to thank you for looking into this. You guys seemed to have figured out the layout/structure, but I figured I'd just give a little input.

I agree that the display of elapsed time should be configurable, and be turned off by default.

I think the 3 scenarios/formats look good, but I wonder if scenario 2 **does** exist, and simply only lists the track's total time on the

[2017-01-10 10:58] cathaloc commented on #82
I had a look into this because I was interested in the same feature.
Unfortunately, Spotify's scripting header doesn't support saving/loving a track, so I don't believe this is possible.

[2017-01-16 12:07] alessandrocapra opened #85 "Banner not showing up when song changes"
I just installed the app, it also showed be the preferences screen but the banner with the song's artist and title is not appearing at all.

I'm a brand new Mac user, is there some special command I need to run to make it appear? I also tried to reboot the pc, but still no luck.

Thanks!

[2017-01-16 14:08] mstnorris commented on #85
I am no longer getting updates either. Just a guess but maybe Spotify updated something?

[2017-01-16 14:13] sebj commented on #85
That's very odd, both the released version of the app, and the development `swift` branch copy are working fine here. Are there no circumstances under which it can be made to work? (Have we managed to glitch out a checkbox or something in the latest release?) I'm not sure I can think of why it wouldn't be working.

[2017-01-16 14:19] mstnorris commented on #85
@sebj apologies, it is now working. I restarted the machine, started spotify, and the notifications, and then quit both, tried again in a different order and nothing I could do was making it work. I just skipped a song and it is now back (previously I was sporadically getting the 'no song info' popup).

I'll keep an eye on it and report back if I can reproduce consistently. Thanks for the swift re

[2017-01-16 21:27] alessandrocapra commented on #85
I can now see the icon on the top bar, but still when I change the song the banner doesn't show up. Is there a way to help you debugging this issue?

[2017-01-20 07:46] alessandrocapra commented on #85
I guess after restarting the computer some times it just started to work, closing the issue!

[2017-01-20 07:46] #85 closed, assigned to nobody

[2017-01-25 10:26] mrwhiteman opened #86 "No notifications when play/pause option is disabled"
No notifications will appear when disabling the play/pause notify option. It should be showing when a song begins. I have to check it otherwise I will not have any notifications. The manual option (hotkey) is working though.

<img width="526" alt="schermafbeelding 2017-01-25 om 11 15 06" src="https://cloud.githubusercontent.com/assets/25342904/22286700/5689a1a4-e2f0-11e6-8be3-b7bd37601d9c.png">

[2017-02-04 15:29] Macbookair9 commented on #75
Hi @sebj, would be great if you could share how you did the timer addition, so those of us that want could potentially manually edit the source code of the app to include?

I'm not at all a programmer, but think I could work out how to edit the code via 'show package contents'. (Right?)

Ta!

[2017-02-04 15:33] sebj commented on #75
@Macbookair9 Nothing's been implemented yet.

You can't edit the code of any application via 'Show Package Contents' – the actual code of any application (usually [spanning numerous files](https://github.com/citruspi/Spotify-Notifications/tree/master/Spotify-Notifications)) is compiled into a binary executable which cannot be edited (e.g. actual code is `Contents/MacOS/Spotify Notifications` which

[2017-02-28 20:35] RAS-2112 opened #87 "504 error on link"
Getting a 504 error when trying to access the link on the site. Please fix.

[2017-02-28 20:37] citruspi commented on #87
[AWS S3 is currently down][0]:

[0]: https://status.aws.amazon.com

[2017-02-28 21:55] citruspi commented on #87
It should be resolved.

[2017-02-28 21:55] #87 closed, assigned to nobody

[2017-03-10 00:52] kranix0 opened #88 "Show version number and check for updates"
GREAT app - thank you! I have an enhancement request.

I can't figure out how to determine the version of what I have installed. That would allow me to decide whether I need to download a new version. Ideally, the software should just update itself.

[2017-04-24 20:47] SebTM opened #89 "Please replace your SSL-Certificate for download-vhost"
I can't install this app/script by using brew cask because your ssl-certificate expired today at 17:24 - please replace it :)

[2017-04-24 21:19] citruspi commented on #89
Fixed, thanks for the heads up.

[2017-04-24 21:19] #89 closed, assigned to nobody

[2017-05-09 11:54] arbass22 opened #90 "Show current playing song as a Today Widget"
It would be helpful if the current playing song could be shown in the sidebar along with weather, calender, etc.

[2017-05-09 11:57] arbass22 commented on #90
I would be willing to work on this, although there seems to be a big swift branch rewrite

[2017-05-31 16:27] alego500 opened #91 "Show album art for local files"
I suspect this could be a limitation of Spotify's API but if not I would be very nice to also see embedded album from a local file in the notifications. If this indeed is an API limitation what about pulling album art for local files, not in Spotify's database, from LastFM?

[2017-06-19 06:29] hnnweb commented on #74
@citruspi Nope, you havent... Still an issue on the bottom...

[2017-07-28 07:38] ghost opened #92 "SSL Cert expired"
Cert expired at 2017-07-23. Brew installation fails. Please renew. Thanks.

[2017-07-28 09:16] citruspi commented on #92
Fixed.

[2017-07-28 09:16] #92 closed, assigned to nobody

[2017-08-22 13:06] Plastonick opened #93 "Bug on starting first song of new queue"
The notification that appears when starting a new song by manually clicking in Spotify and changing queue correctly shows the album artwork but also shows "Nothing playing". If you force the notification to reappear (either pause/play or with a keyboard shortcut to show the now playing) it will correctly output Song, Artist.

![screen shot 2017-08-22 at 14 05 00](https://user-images.githubusercont

[2017-08-31 09:49] guillaume-tgl opened #94 "Disable notifications when playing on another device"
I'd really like to be able to disable notifications when Spotify is not playing on the current device. Thanks

[2017-09-26 17:16] alexmcroberts opened #95 "Rename Application to "Notify""
When I launch Spotify from Spotlight, more often than not the first suggestion for "Spotify" is "Spotify Notifications". As soon as I see the Spotify icon appear for "Spotify Notifications", I usually press enter, and the "Spotify Notifications" application launches. In my opinion this is slightly more user hostile than it needs to be. Obviously, this is a case of me being too quick to pull the tr

[2017-09-26 20:26] TheSeg commented on #95
+1 on renaming the application to something that doesn't start with the characters "Spotify" for the stated reason.

[2017-11-15 13:03] philiplangleyza opened #96 "I have to manually dismiss the notification"
On both Sierra and High Sierra, the notification doesn't go away after a few seconds. I have to manually dismiss it. This didn't happen on my last computer (same versions of apps).

My settings, attached.
![image](https://user-images.githubusercontent.com/33683775/32837371-f82a805c-ca15-11e7-9ed6-44c616a83593.png)

[2017-12-02 04:11] kailan commented on #96
Check *System Preferences > Notifications* to ensure that you have "Banners" selected and not "Alerts".

![screen shot 2017-12-01 at 23 10 20](https://user-images.githubusercontent.com/3542064/33511667-e8b19d48-d6ec-11e7-871f-b48a805a3e11.png)

[2017-12-03 07:01] philiplangleyza commented on #96
OMG, now I feel like an idiot. Thanks so much!

[2017-12-07 20:08] edwinfinch commented on #86
Is this going to be fixed?

[2017-12-18 16:01] despecial opened #97 "Fix for broken notifications after High Sierra update"
Updated to latest version of Mac OS and it seems the notifications are broken.
Can you confirm/fix?

Thanks

[2017-12-19 11:32] tobystokes commented on #97
I'm on 10.13.2 and works for me, freshly installed.

[2017-12-19 11:36] despecial commented on #97
Had to re-install. Did not work after upgrading the OS.
not sure what the problem is/was exactly. maybe file rights.

[2017-12-22 15:06] despecial commented on #97
Still not working. It is sitting in the menu bar.
No notifications showing. Spotify is minified.

[2018-01-18 15:55] dani-z commented on #97
Worked as expected for me, running on High Sierra 10.13.2

[2018-01-22 16:26] c-lawlz commented on #97
I had the same problem, but after deleting the app (completely, using AppCleaner) and reinstalling it, it works fine.  Well... there's an annoying little Spotify logo next to each song name now, but I'm just happy it works :)

I'm wondering if not deleting the library files is why this did not work for @despecial

[2018-01-22 16:31] despecial commented on #97
@c-lawlz yes, something was mixed up. I had to take the same steps to make the app working again. Plus, the old entry in the startup apps was broken and I had to remove it manually and after restarting Spotify Notifications, it added a new entry itself.

Was only a problem after High Sierra upgrade. But well, hopefully this thread might help others.

[2018-01-25 12:30] tobystokes opened #98 "Feature request: show current playing song in menu bar menu"
For those long songs where you missed the notification, would be great if the menu bar menu contained the title/artist of the currently playing track.

[2018-02-27 13:55] andypattenden commented on #95
Another workaround is:
1. Open Spotlight Preferences on the Privacy tab
1. Drag the Spotify Notifications app to the Privacy pane
1. Spotify Notifications should no longer appear in the suggestions list

Note: If using Alfred, type `reload` into Alfred and select **Reload Alfred cache**

[2018-03-12 22:52] pmastela opened #100 "Add AppleScript command to show/hide notification"
I use Keyboard Maestro and depending on application I have different leader shortcut; for Spotify the leader shortcut is `Ctrl`+`Opt`+`S` and `Space`, `H`, and `L` enable toggle play/pause, play the previous song or the next song in Spotify, respectively.

Ideally for me and other users of KM with a similar setup, a shortcut for showing the current song would be something like `Ctrl`+`Opt`+`S`, `C

[2018-03-31 06:54] Ralphiuss opened #101 "Feature request: Dark mode! :D"
Title should explain enough. :D

[2018-04-09 01:14] grrowl commented on #101
Dark mode for the notifications themselves? Can't be done with MacOS native notifications, sorry.

[2018-04-09 09:33] sebj commented on #96
Looks like this problem has been solved! 😄 I'm closing this issue, but if there's any odd behaviour from the app in relation to notification dismissal, feel free to comment/re-open.

[2018-04-09 09:33] #96 closed, assigned to nobody

[2018-04-12 20:43] khazzledazzle opened #102 "Notifications on track change?"
Hi there! Thanks for putting together a great tool! Quick question - is there a way for the notification to pop up every time the track changes? If not, consider this a feature request! Thank you!

[2018-04-12 21:03] khazzledazzle commented on #102
Well, I don't know what changed, but the notification is showing up now with the track changes. All good!

[2018-04-12 21:03] #102 closed, assigned to nobody

[2018-04-12 21:33] ccollins19 opened #103 "App icon missing from notification."
The app icon normally next to the song name in the notification is missing and replaced with the apple placeholder icon. Please fix! Thanks!

[2018-05-02 19:32] AstroGeo opened #104 "Enhancement - Position of notification"
Hello,

First of all: thank you for developing this nifty tool, I really like it :)

Just one thing: I can't seem to change the position where the notification appears. When working in Chrome on a Mac, the pop-up appears in the upper right corner, exactly on the spot where I click to open a new tab (yes, I always have tons of tabs open in Chrome).

It would be a great addition if we could choose w

[2018-06-14 16:59] ghost opened #105 "Spotify crashes"
I'm on macOS 10.14. s = Spotify and sn = Spotify Notifications

To reproduce:

- have sn open, s closed. open s. start playing a song. crash!

- have s open, sn closed. open sn. crash!

Spotify version: 1.0.80.474.gef6b503e

Spotify Notifications: latest version as of June 14. can't find version no

macOS version: 10.14

[2018-06-14 17:01] ghost commented on #104
This is a macOS problem not a Spotify Notifications problem

[2018-08-02 15:18] finngaida opened #107 "SSL Certificate Expired"
Hey, just wanna let you know that your Let's Encrypt SSL certificate has expired and causes red alerts upon using the download link.

[2018-08-21 23:26] gugahoi commented on #107
Almost skipped the application entirely because of that...

[2018-08-24 14:23] GarryAylott opened #108 "Not working on Mojave Beta"
Notifications not showing in Mojave (currently beta 7). The app is opening fine but no on-screen notifications.

[2018-08-26 11:49] tectiv3 commented on #108
Works fine for me

[2018-09-03 13:32] GarryAylott commented on #108
Seems to have been a bug with the Mojave Beta 7. Upgraded to Beta 8 and working fine? Closing anyhoo.

[2018-09-03 13:32] #108 closed, assigned to nobody

[2018-10-04 16:47] alexclst commented on #101
Under macOS Mojave, notifications will be dark if Dark Mode is on. But this app should be rebuilt using Xcode 10 against the 10.14 SDK so that the preferences window likewise is whatever theme you’ve chosen in System Preferences.

[2018-11-18 01:15] jacobrosenfeld opened #109 "Feature Request: Open automatically when Spotify opens"
Open automatically when Spotify opens.

[2018-11-19 02:27] Pogoretskiy opened #110 "Spotify Notifications not working"
I've installed the latest version of Spotify and Spotify Notifications and the notifications just won't work. Every time I try to see the current song playing, it just says "No song is playing". Solutions?

[2018-11-26 08:54] philipp-serfling commented on #110
+1

[2018-11-28 20:16] jwagnerLegacy opened #111 "SSL Certificate Expired"
Just wanted to let you know that on the [download](https://downloads.spotify-notifications.citruspi.io/0.6.0-release.zip) page, the SSL certificate is expired.

[2018-12-06 19:16] suschizu commented on #111
that's right @jwagnerLegacy - @citruspi - could you please renew your SSL-certificate for
https://downloads.spotify-notifications.citruspi.io/0.6.0-release.zip ? thanks :)

[2019-01-04 20:33] ghost opened #112 "a "No song playing" notification is shown when using Spotify - JQBX"
When playing Spotify using JQBX, a "No song playing" notification is displayed for every song change. The album art _is_ correct. When re-showing the notification (using the hotkey) the track and artist are there.

[2019-01-06 13:00] core-code commented on #111
still expired

[2019-01-06 18:25] suschizu commented on #111
@citruspi - could you please fix your SSL-certificate for the latest release?

[2019-02-11 08:11] nessup commented on #111
@citruspi can you please fix? :)

[2019-02-12 00:17] NorfolkNChance commented on #110
I've managed to get the source working with Mojave and 10.14 SDK. Need to create a pull request and get a proper release sorted out.

[2019-03-27 22:45] vexir opened #113 "Spotlight Doesn't Pick Up Spotify Anymore"
Hey there,

I've been using Spotify-Notifications for a while now and I've noticed that it seems to be preventing Spotify from showing up consistently in Spotlight. Sometimes forcing a re-index can help, but the issue replicates itself pretty quickly. I haven't had this problem with any other apps.

[2019-07-17 14:49] CharlesButcher commented on #110
Would be appreciated, @NorfolkNChance.

Norfolk and good myself.

[2019-07-17 15:11] fsmertz commented on #110
I'd appreciate it too @NorfolkNChance thanks!

[2019-08-04 01:28] mattbroussard commented on #112
I have noticed this too when playing through a Sonos. Perhaps it has something to do with Spotify Connect?

[2019-08-05 20:22] oxydeon commented on #112
it's work again for me, no reason...

[2019-08-06 05:47] mattbroussard commented on #112
It seems like this application talks to Spotify using Scripting Bridge, and Spotify is sometimes not returning anything for the "name" field:
[code]

A possible workaround would be to separately look up the track using the ID/URL that seems to still be returned.

[2019-08-22 18:19] jamescastells opened #114 "Album artwork not showing"
A few days ago, I noticed that the album artwork is not displayed in the notification. Only the Spotify logo appears.

![image](https://user-images.githubusercontent.com/5696029/63539309-669fa380-c4df-11e9-858b-a84e3e3e5ab2.png)

The "include album artwork" option is checked in the preferences.

[2019-08-23 12:07] tomekpapiernik commented on #114
I'm experiencing the same issue, I think it started yesterday.

[2019-08-27 11:52] ogulcancelik commented on #114
This happened to me after I moved the app to the Applications folder and started to launch it from there.

[2019-09-10 01:21] shousper commented on #112
Seconded. Listening on my Sonos via Spotify right now and it's always showing "No song playing".

[2019-10-07 17:56] jamescastells commented on #112
Spotify finally added support for Apple TV. However, when listening there, the notifications in my Mac show up as "No song playing".

[2019-10-15 18:33] tonglil commented on #112
Same when listening through my Amazon Echo device, but it seems to only have started happening recently.

[2019-11-04 10:44] mgpsp opened #115 "Download link not working"
Hey,

Just to let you know the [download link](https://downloads.spotify-notifications.citruspi.io/0.6.0-release.zip) is not working at the moment.

[2019-11-05 04:17] rustysc commented on #115
Yeah website seems to be down at the moment.

[2019-11-05 09:55] citruspi commented on #115
Sorry about that folks, this should be resolved now. 🙏 for letting me know.

[2019-11-05 09:55] #115 closed, assigned to nobody

[2019-12-24 19:02] rustysc commented on #112
Yeah like Matt said, it seems to be an issue with Spotify Connect

[2020-01-11 18:54] chaddjohnson opened #116 ""No Song Playing" when using Spotify Connect"
Hello! Thanks for the great software.

I noticed that "No Song Playing" shows in the notifications when changing songs while using Spotify Connect. When I switch back to playing on my MacBook, it once again shows the song titles in the notifications when switching songs.

[2020-01-11 20:43] ergineroglu commented on #116
same for me when connected to chromecast

[2020-01-15 18:50] PingWeb commented on #116
Same here!

[2020-01-22 09:33] mijndert commented on #116
Same here.

[2020-01-26 19:21] samarara commented on #116
Same!

[2020-02-10 19:34] ThinkChaos commented on #116
This is a actually a bug in Spotify! Please comment and like [this issue](https://community.spotify.com/t5/Desktop-Mac/AppleScript-is-broken-when-using-Spotify-Connect/m-p/4897205) on their forums so that they fix it.

[2020-02-10 19:39] ThinkChaos commented on #116
I also found [this thread](https://community.spotify.com/t5/Desktop-Mac/Bug-AppleScript-Spotify-Connect-Recent-update-broke-AppleScript/m-p/4778252), if you're down to also do the same there 😃

[2020-02-11 16:43] eduardobachiega opened #117 "Download link not working"
Hey,

This app is awesome, but I have changed my computer and when I tried to download this app I realized that the download link is not working.

https://downloads.spotify-notifications.citruspi.io/0.6.0-release.zip
https://spotify-notifications.citruspi.io/

Thanks!

[2020-02-20 02:35] felker opened #118 "Broken on macOS Catalina?"
I know that this project hasn't been maintained for some years, but I was curious if anyone has this software working on macOS Catalina 10.15.3?

[2020-02-20 14:31] vladserkoff commented on #118
Kind of. It only works if `Notify on play/pause` checkbox is set to true.

[2020-02-21 22:53] felker commented on #118
Thanks, I got it working after reopening Spotify.

[2020-02-21 22:53] #118 closed, assigned to nobody

[2020-04-07 12:14] AdrianSimionov opened #119 "Show song in menu bar"
While the song is playing, it would be good to have an option to see the song title for the whole duration in the menu bar.

Use case: I want to learn more about classical music. By having only a notification that we dismiss, we do not align notes with the song title. I have no musical background.

[2020-05-12 19:15] chaddjohnson commented on #116
It appears this problem is fixed. I believe Spotify made some updates on their end that fixed this.

I'm marking this as closed.

[2020-05-12 19:15] #116 closed, assigned to nobody

[2020-06-04 21:16] thavishp opened #120 "Download Link not working"
Just as the title says, the download link for 0.6.0 in releases is not working. I saw a similar issue from February that was resolved but the download link is once again not working.

Download link in question: [https://downloads.spotify-notifications.citruspi.io/0.6.0-release.zip](https://downloads.spotify-notifications.citruspi.io/0.6.0-release.zip)

[2020-06-30 03:05] jamescastells commented on #120
That page always has problems. I always have a backup for visitors in those hard times: https://www.dropbox.com/s/6oieyl9lv96hhlc/Spotify%20Notifications.zip?dl=0

[2020-09-15 15:36] 1n opened #121 "na"

[2020-09-15 15:36] #121 closed, assigned to nobody

[2020-09-15 15:37] 1n commented on #121
Sorry, accidentally opened the issue.

[2020-09-15 15:39] 1n commented on #118
Maybe it will help someone.
After upgrade to Catalina I had to enable notifications for the Spotify Notifications app in MacOS Settings -> Notifications.

[2020-11-13 20:30] vbrilon opened #122 "Album art image in notifications stopped working with Big Sur"
When I updated to Big Sur, the notifications show all the info but no longer show the album art.
<img width="366" alt="Screen Shot 2020-11-13 at 12 29 45 PM" src="https://user-images.githubusercontent.com/1173618/99118223-fe3d5600-25ab-11eb-97b3-4860538d4ddd.png">

[2020-11-16 00:56] devburke opened #123 "Fails to launch on startup in Big Sur"
It's listed in the "Login Items" section of the "Users and Group" part of System Preferences. However, every time I log in again, the system indicates that it couldn't find the app. When I manually open it, it adds itself again to the list, in addition to the "lost" instance.

[2020-11-18 12:40] widestm commented on #122
Seeing this too. I suspect that this is somehting that spotify needs to fix as Now Playing in the Menu bar and Notification center does not show album art from Spotify either. In https://www.apple.com/macos/big-sur/ you can see that they display some other app that does show album art which could indicate that it's just spotify that is lacking support.

<img width="307" alt="Screenshot 2020-11-18

[2020-11-26 11:30] jirkap commented on #122
Yes yes, saw that too right away.. Don't need control buttons to skip track so till it's fixed, I'm using older [version 0.5.2](https://github.com/citruspi/Spotify-Notifications/releases/tag/0.5.2) which handles also album cover (just on right side, but I'm OK with it)
![Snímek obrazovky 2020-11-26 v 12 26 10](https://user-images.githubusercontent.com/74545881/100345753-0d2bfb80-2fe3-11eb-83b1-fe

[2021-01-23 20:41] elhagin opened #124 "https://spotify-notifications.citruspi.io/ down"
https://spotify-notifications.citruspi.io/ is down

[2021-02-19 23:59] jamesf-hub opened #125 "Possibility for a Big Sur update"
Hello,

This project is one of my favorite apps. However, it hasn't been maintained for the newest release of macOS, Big Sur. A feature such as album art doesn't work anymore in 0.6.0, but does in 0.5.2. Is there a possibility of an update?

[2021-03-29 10:53] vidoq1 commented on #124
use https://www.spotify-notifications.app

[2021-04-03 23:24] jamesf-hub commented on #125
this app does not work with the release of Spotify's new UI

[2021-04-03 23:24] #125 closed, assigned to nobody

[2021-04-08 14:04] nickmorozov opened #126 "Brew Tab"
Any chance of getting a brew formula?

https://docs.brew.sh/Formula-Cookbook

[2021-04-09 10:08] MiralDesai commented on #126
There used to be one but it got removed https://github.com/Homebrew/homebrew-cask/pull/82939

[2021-06-05 14:22] paced opened #127 "App is not maintained: Reference alternative (Now Playing for Spotify)"
TL;DR: Can the README.md file reference [Now Playing for Spotify](https://github.com/teaminkling/now-playing) as a viable alternative?

I should note this is somewhat self-promotional since I am the maintainer for [Now Playing for Spotify](https://github.com/teaminkling/mac-spotify-np).

Both this project (Spotify Notifications) and @davicorreiajr's [Spotify Now Playing](https://github.com/davicor

[2022-08-19 01:49] tonglil commented on #117
Use https://get.spotify-notifications.app/Spotify%20Notifications%20v0.6.0.zip

See https://github.com/citruspi/Spotify-Notifications/issues/124#issuecomment-809283163

[2022-08-19 01:51] tonglil commented on #126
You can create your own tap, ie as an archive of old taps, or you can do this: https://dev.to/gjrdiesel/getting-around-brew-s-error-calling-non-checksummed-download-of-17fl

Cask URL: https://raw.githubusercontent.com/Homebrew/homebrew-cask/ac0c4963fc6a506870684f1b45d8a4bdabffc02a/Casks/spotify-notifications.rb

Modify the formula to use https://www.spotify-notifications.app/ as necessary.

[2022-08-19 01:54] tonglil commented on #127
FWIW to future readers, I want to say that **this app still works**.

I also like that it's mac-native using less than 50mb of memory (instead of wrapping nodejs in electron) which speaks to it's longevity and simplicity (does what it does).

However your alternative does have some additional features others may find useful.

[2022-08-19 03:34] paced commented on #127
@tonglil Very fair points, especially on memory consumption. I've found numerous pain points while developing for [Now Playing for Spotify](https://github.com/teaminkling/now-playing) and it certainly needs to continuously be maintained.

The reason I started that project in the first place was because of the unanswered Issues on this one, though they might not all be relevant if the app largely w

[2022-08-19 09:59] tonglil commented on #117
In case the download link still doesn't work (it's spotty), one can build this with Xcode:

- Clone the repo with the submodule
	`git clone --recurse-submodules https://github.com/citruspi/spotify-notifications`
- Open `Spotify-Notifications.xcworkspace`
- Select `Product -> Scheme -> Spotify Notifications`
	<img width="604" alt="image" src="https://user-images.githubusercontent.com/3250776/185593

[2022-08-19 10:00] tonglil commented on #126
And if the download link is not working, one can build it locally: https://github.com/citruspi/Spotify-Notifications/issues/117#issuecomment-1220487701

[2022-09-01 15:08] jessejoe opened #128 "Download link broken, SSL cert invalid, latest version uploaded here"
Looks like https://get.spotify-notifications.app/Spotify%20Notifications%20v0.6.0.zip 404s and https://src.doom.fm/spotify-notifications has an invalid cert (`ERR_CERT_DATE_INVALID`)

I've uploaded the latest release `0.6.0` .zip from another laptop I had in case anyone needs it. I still use this app even though it hasn't been updated in forever because it just works, is lightweight, and I used to

[2022-10-28 15:35] rea1shane commented on #117
@tonglil Thank you for your comment, I build apple silicon version, but it always display not playing and no notify, why?

<img width="281" alt="截屏2022-10-28 23 31 31" src="https://user-images.githubusercontent.com/93363751/198676313-7e231619-98ff-4531-9b63-2e9c4f56924b.png">

[2022-10-28 15:52] rea1shane commented on #117
intel version is work. After remove intel version and reinstall apple silicon version, it works too.

only intel version pop up control spotify permission window

And when I turn down "notify on Play/Pause", a high probability no notification when cut song

[2022-10-28 16:41] rea1shane opened #129 "Continue maintain？"
Hey @citruspi

I love this nice app, but now there are some issues, if you can update it would be better.

Thank you for your contribution.